
$starhospitals-brand-primary:#004E9E;
$starhospitals-brand-secondary:#E3000F;
// $starhospitals-brand-tertiary:#004E9E;
$starhospitals-text-primary:#020202;
$starhospitals-text-secondary:#424242;
$starhospitals-text-tertiary:#757575;
$starhospitals-text-inverted:#ffffff;
// $starhospitals-text-link:#0000;
// $starhospitals-text-ok:#0000;
// $starhospitals-text-warn:#0000;
// $starhospitals-text-danger:#0000;
$starhospitals-ui-primary:#020202;
$starhospitals-ui-secondary:#001D3B;
$starhospitals-ui-tertiary:#E0E0E0;
// $starhospitals-ui-ok:#0000;
// $starhospitals-ui-warn:#0000;
// $starhospitals-ui-danger:#0000;

$starhospitals-component-width:90%;
$starhospitals-brand-primary-font:'Rubik';
$starhospitals-brand-secondary-font:'Plus Jakarta Sans';
