
@use "variables";
@mixin centerSection{
    width: variables.$starhospitals-component-width;
    margin: 0px auto;
}
@mixin column-count($columns) {
    flex: 0 0 calc(95% / $columns);
}
@mixin input-fields-with-Icon()
{
    margin-top: 0.5em;
    border: 1px solid variables.$starhospitals-ui-tertiary;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.25em;
    float: left;
    gap: 0.5em;
    background-color: white;
    @content;
    img {
        padding: 0.25em;
    }

    input,
    select {
        border: none;
        outline: none;
        color: variables.$starhospitals-text-tertiary;
        width: 100%;
        height: 80%;
        background: none;
    }
}

@mixin center-child-element()
{
display: grid;
place-items: center;
}

@mixin center-align-item()
{
    margin-left: 50%;
    margin-top: 50%;
    transform: translate(-50%, -50%);
}

@mixin btn-primary($color,$background-color)
{
    border: 1px solid $color;
    border-radius: 10px;
    @include font-family(600);
    text-align: center;
    padding: 0.5em 1em;
    display: block;
    color: $color;
    background-color: $background-color;

}

@mixin font-family($font-weight)
{
    font-family:variables.$starhospitals-brand-secondary-font;
    font-weight: $font-weight;
   
}

*,html {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    background: transparent;
    background-image: url('../../../public/images/Icons/select-arrow.png') !important;
    background-repeat: no-repeat !important;
    background-size: 10px;
    background-position: calc(100% - 1em) !important;
    padding-right: 2em !important;
  }

  

a{
    text-decoration: none;
    color: variables.$starhospitals-text-primary;

    &:hover{
        text-decoration: none;
    }
}

body{
    overflow-x: hidden;
}

.gap{
    height: 5rem;
}