@use "utils/variables" as variables;
@import 'utils/utils';

@import "utils/media-queries";

.about-star{
    @include centerSection;
    display: flex;
    gap: 5em;
    @include media('sm-mob')
    {
        flex-direction: column;
    }
    @include media('md-mob')
    {
        flex-direction: column;
    }
    @include media('lg-mob')
    {
        flex-direction: column;
    }
    @include media('x-sm-tab')
    {
        flex-direction: column;
    }
    @include media('sm-tab')
    {
        flex-direction: column;
    }
    @include media('md-tab')
    {
        flex-direction: column;
    }

&__image-container{
    position: relative;

    img{
        @include media('sm-mob')
        {
            width: 100%;
        }
        @include media('md-mob')
        {
            width: 100%;
        }
        @include media('lg-mob')
        {
            width: 100%;
        }
        @include media('x-sm-tab')
        {
            width: 100%;
        }
        @include media('sm-tab')
        {
            width: 100%;
        }
    }

    &__play-btn{
        position: absolute;
        left: 45%;
        top: 50%;
        transform: translateX(-50%);
        transform: translateY(-50%);

        @include media('sm-mob')
        {
            height:40px;
            width:40px;
            left: 45%;
        }
        @include media('md-mob')
        {
            height:40px;
            width:40px;
            left: 45%;
        }
        @include media('lg-mob')
        {
            height:40px;
            width:40px;
            left: 45%;
        }
        @include media('x-sm-tab')
        {
            height:40px;
            width:40px;
            left: 45%;
        }
        @include media('sm-tab')
        {
            height:40px;
            width:40px;
            left: 45%;
        }
        // background-color: blue;
    }
    &::after{
        content: '';
        
    }
}

    &__content-container{
        h2{
            padding-bottom: 1em;
            // @include font-family(600);
            @include media('sm-mob')
            {
                text-align: center
            }
            @include media('md-mob')
            {
                text-align: center
            }
            @include media('lg-mob')
            {
                text-align: center
            }
            @include media('x-sm-tab')
            {
                text-align: center
            }
            @include media('sm-tab')
            {
                text-align: center
            }
          }

          p{
            font-size: 15px;
            line-height: 28px;
            @include font-family(400);
            @include media('sm-mob')
            {
                text-align: justify;
            }
            @include media('md-mob')
            {
                text-align: justify;
            }
            @include media('lg-mob')
            {
                text-align: justify;
            }
            @include media('x-sm-tab')
            {
                text-align: justify;
            }
            @include media('sm-tab')
            {
                text-align: justify;
            }
          }
    }
}