@use "utils/variables" as variables;
@import "utils/utils";

@import "utils/media-queries";

.banner {
    height: 70vh;
    width: 100%;
    position: relative;
    @include media("sm-mob") {
        height: 27vh;
    }
    @include media("md-mob") {
        height: 30vh;
    }
    @include media("lg-mob") {
        height: 30vh;
    }
    @include media("x-sm-tab") {
        height: 30vh;
    }
    @include media("sm-tab") {
        height: 75vh;
    }
    @include media("md-tab") {
        height: 50vh;
    }
    @include media("lg-tab") {
        height: 50vh;
    }

    &--condition {
        img {
            display: none;
        }

        // background-image: linear-gradient(to right,variables.$starhospitals-brand-primary ,rgba(0, 79, 158, 0.705));
        background: linear-gradient(
            to right,
            hsla(231, 85%, 24%, 1) 0%,
            hsla(214, 92%, 47%, 1) 100%
        );

        background: -moz-linear-gradient(
            to right,
            hsla(231, 85%, 24%, 1) 0%,
            hsla(214, 92%, 47%, 1) 100%
        );

        background: -webkit-linear-gradient(
            to right,
            hsla(231, 85%, 24%, 1) 0%,
            hsla(214, 92%, 47%, 1) 100%
        );

        .banner__content {
            background-color: transparent;
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        @include media("sm-mob") {
            // position: absolute;
            bottom: 0;
            // height: 60%;
        }
        @include media("md-mob") {
            // position: absolute;
            // height: 60%;
            bottom: 0;
        }
    }
    &__content {
        // position: absolute;
        // top: 50%;
        // left: 7.5%;
        // transform: translateY(-50%);
        // width: 35%;
        display: flex;
        align-items: center;

        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        transform: translateY(0%);
        background-color: #004f9e63;
        left: 0;
        padding-left: 7.5%;
        padding-right: 0.5em;
        @include media("sm-mob") {
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;
            transform: translateY(0%);
            background-color: #004e9ebf;
            left: 0;
            padding-left: 2em;
            padding-right: 0.5em;
        }
        @include media("md-mob") {
            position: absolute;
            height: 100%;
            top: 0;
            width: 100%;
            transform: translateY(0%);
            background-color: #004e9ebf;
            left: 0;
            padding-left: 2em;
            padding-right: 0.5em;
        }
        @include media("lg-mob") {
            position: absolute;
            height: 100%;
            top: 0;
            width: 100%;
            transform: translateY(0%);
            background-color: #004e9ebf;
            left: 0;
            padding-left: 2em;
            padding-right: 0.5em;
        }
        @include media("x-sm-tab") {
            position: absolute;
            height: 100%;
            top: 0;
            width: 100%;
            transform: translateY(0%);
            background-color: #004e9ebf;
            left: 0;
            padding-left: 3em;
            padding-right: 0.5em;
        }
        @include media("sm-tab") {
            // width: 60%;
        }
        @include media("md-tab") {
            // width: 60%;
        }
        @include media("lg-tab") {
            // width: 60%;
        }
        @include media("x-sm-desktop") {
            // width: 40%;
        }
        h1 {
            color: variables.$starhospitals-text-inverted;
            // @include font-family(700);
            font-family: "Plus Jakarta Sans Bold";
            font-size: 40px;
            line-height: 60px;
            width: 55%;
            @include media("sm-mob") {
                // color: black;
                line-height: 35px;
                font-size: 25px;
                // margin-left: 2rem;
                width: 80%;
            }
            @include media("md-mob") {
                // color: black;
                font-size: 25px;
                line-height: 35px;
                // margin-left: 2rem;
                width: 80%;
            }
            @include media("lg-mob") {
                // color: black;
                font-size: 25px;
                line-height: 35px;
                // margin-left: 2rem;
                width: 80%;
            }
            @include media("x-sm-tab") {
                // color: black;
                font-size: 25px;
                line-height: 35px;
                // margin-left: 2rem;
                width: 80%;
            }
        }

        &--blue {
            background-color: transparent;
            h1 {
                color: #004e9e;
            }
        }
    }

    &__breadcrum {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 0.5em;
        padding: 1em 0px;
        a,
        span {
            @include font-family(400);
            color: variables.$starhospitals-text-inverted;
            display: block;
            @include media("sm-mob") {
                color: white;
                font-size: 13px;
            }
            @include media("md-mob") {
                color: white;
                font-size: 25px;
                font-size: 13px;
            }
        }

        &--blue {
            a,
            span {
                color: #004e9ebf;
            }
        }
    }
}
