@use "utils/variables" as variables;
@import "utils/utils";

@import "utils/media-queries";

.conditions-root {
    width: 81%;
    margin: 0px auto;
    margin-left: calc(21% / 2);
    min-height: 5rem;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: calc(10% / 4);
    &__cards {
        flex: 0 0 calc(90% / 4);
        min-height: 8rem;
        box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.05);
        -webkit-box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.05);
        margin-top: 2em;

        @include media("sm-mob") {
            flex: 0 0 100%;
        }
        @include media("md-mob") {
            flex: 0 0 100%;
        }
        @include media("lg-mob") {
            flex: 0 0 100%;
        }
        @include media("x-sm-tab") {
            flex: 0 0 calc(90% / 2);
        }
        @include media("sm-tab") {
            flex: 0 0 calc(90% / 2);
        }
        @include media("md-tab") {
            flex: 0 0 calc(90% / 2);
        }
        img {
            width: 100%;
        }

        &__details {
            position: relative;
            padding: 0.5em 1em;
            font-family: "Plus Jakarta Sans";
            min-height: 12rem;
            h3 {
                padding-bottom: 0.5em;
                min-height: 2em;
            }

            p {
                font-size: 14px;
                text-align: justify;
            }

            &__read-more {
                position: absolute;
                bottom: 1em;
                font-size: 14px;
                color: #e3000f;
                font-weight: 600;
                padding-bottom: 0.25em;
                border-bottom: 1px solid #004e9e;
            }
        }
    }
}
