@use "utils/variables" as variables;
@import "utils/utils";

@import "utils/media-queries";
.conditions-content{
    width: 73%;
    margin: 0px auto;
    line-height: 25px;
    p,span,div,ul,li{
        font-size: 14px !important;
        font-family: 'Plus Jakarta Sans' !important;

    }

    ul{
        margin-left: 1.5em;
        
    }

    @include media('sm-mob')
    {
        width: 85%;
    }
    @include media('md-mob')
    {
        width: 85%;
    }@include media('lg-mob')
    {
        width: 85%;
    }
    @include media('x-sm-tab')
    {
        width: 85%;
    }

    
}