@use "utils/variables" as variables;
@import 'utils/utils';

@import "utils/media-queries";

.consultation{
    @include centerSection;
    display: flex;
    justify-content: space-between;
    @include media('sm-mob')
    {
        flex-direction: column-reverse;
    }
    @include media('md-mob')
    {
        flex-direction: column-reverse;
    }
    @include media('lg-mob')
    {
        flex-direction: column-reverse;
    }
    @include media('x-sm-tab')
    {
        flex-direction: column-reverse;
        gap:3rem;
    }
    @include media('sm-tab')
    {
        flex-direction: column;
        gap: 3em;
    }
    @include media('md-tab')
    {
        // flex-direction: column-reverse;
    }

    &__heading-mobile{
        display: none;
        margin-bottom: 2em;
        @include media('sm-mob')
            {
                display: block;
            }
            @include media('md-mob')
            {
                display: block;
            }
            @include media('lg-mob')
            {
                display: block;
            }

    }

    &__card{
        flex:0 0 45%;
        padding: 0px 2em ;
        @include media('sm-mob')
            {
                padding: 0px;
                flex: 0 0 100%;
                // margin-left: 0px auto
            }
            @include media('md-mob')
            {
                padding: 0px;
                flex: 0 0 100%;
                // margin-left: 0px auto
            }
            @include media('lg-mob')
            {
                padding: 0px;
                flex: 0 0 100%;
                // margin-left: 0px auto
            }
            @include media('lg-tab')
            {
                flex: 0 0 50%;
            }
        h2{
            // @include font-family(600);
            @include media('sm-mob')
            {
                display: none;
            }
            @include media('md-mob')
            {
                display: none;
            }
            @include media('lg-mob')
            {
                display: none;
            }
        }
        p{
            padding: 1em 0px;
            @include font-family(400);
            font-size: 15px;
            line-height: 20px;
            @include media('sm-mob')
            {
                display: none;
            }
            @include media('md-mob')
            {
                display: none;
            }
            @include media('lg-mob')
            {
                display: none;
            }

        }
        &__contact-info{
            width: 90%;
            background-color: variables.$starhospitals-brand-primary;
        border-radius: 20px;
        padding: 3em;
        padding-top: 4em;
        margin-top: 1em;
        @include media('sm-mob')
        {
            width: 100%;
        }
        @include media('md-mob')
        {
            width: 100%;
        }
        @include media('lg-mob')
        {
            width: 100%;
        }
            &__list{

                &__item{
                    list-style-type: none;
                    position: relative;
                    padding: 0px 2em;
                    color: variables.$starhospitals-ui-tertiary;
                    @include font-family(600);
                    font-size: 16px;
                    margin-bottom: 1.5em;
                svg{
                        position: absolute;
                        left: 0.5em;
                        // top: 0px;
                        margin-right: 0.75em;
                        height: 20px;
                        width: 20px;
                    }

                    ul{
                        // padding:0px 1.5em;
                        margin-top: 0.5em;
                        li{
                            list-style-type: none;
                            padding: 0.25em 0px;
                         @include font-family(400);
                         font-size: 12px;

                         a{
                        color: variables.$starhospitals-ui-tertiary;
                    
                         }

                        }
                    }

                }
            }

        }

        
    }

    &__form{
        flex: 0 0 35%;
        border: 1.5px solid variables.$starhospitals-brand-primary;
        border-radius: 20px;
        position: relative;
        overflow: hidden;
        padding: 2em;
        background-color: white;
        @include media('sm-mob')
        {
            padding:1em;
            padding-bottom: 2em;
            flex:0 0 100%
        }
        @include media('md-mob')
        {
            padding:1em;
            padding-bottom: 2em;
            flex:0 0 100%
        }
        @include media('lg-mob')
        {
            padding:1em;
            padding-bottom: 2em;
            flex:0 0 100%
        }
        @include media('x-sm-tab')
        {
            padding:1em;
            padding-bottom: 2em;
            flex:0 0 100%
        }
        @include media('sm-tab')
        {
            padding:1em;
            padding-bottom: 2em;
            flex:0 0 100%
        }
        @include media('md-tab')
        {
            padding:1em;
            // padding-bottom: 2em;
            flex:0 0 50%
        }
        @include media('lg-tab')
        {
            padding:1em;
            // padding-bottom: 2em;
            flex:0 0 45%
        }
        &__title{
            @include font-family(600);
            @include media('sm-mob')
        {
            padding: 1em 0px;
        }
        @include media('sm-mob')
        {
            padding: 1em 0px;
        }
        @include media('md-mob')
        {
            padding: 1em 0px;
        }
        @include media('lg-mob')
        {
            padding: 1em 0px;
        }
        @include media('x-sm-tab')
        {
            padding: 1em 0px;
        }
        @include media('sm-tab')
        {
            padding: 1em 0px;
        }
        @include media('md-tab')
        {
            padding: 1em 0px;
        }

        }
        &__texture{
            position: absolute;
            right: 0;
            top: 0;
        }

        &__fields{
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin: 2em 0px;
            @include media('sm-mob')
            {
                flex-direction: column;
                margin: 0px;
            }
            @include media('md-mob')
            {
                flex-direction: column;
                margin: 0px;
            }
            @include media('lg-mob')
            {
                flex-direction: column;
                margin: 0px;
            }
            @include media('x-sm-tab')
            {
                flex-direction: column;
                margin: 0px;
            }
            @include media('sm-tab')
            {
                flex-direction: column;
                margin: 0px;
            }
            @include media('md-tab')
            {
                flex-direction: column;
                margin: 0px;
            }

            input,select{
                border: 1px solid variables.$starhospitals-ui-tertiary;
                outline: none;
                border-radius: 10px;
                padding: 1em 1em;
                flex: 0 0 calc(95%/2);
                color: gray;
                font-weight: 500;
                @include media('sm-mob')
                {
                    margin-bottom: 2em;
                }
                @include media('md-mob')
                {
                    margin-bottom: 2em;
                }
                @include media('x-sm-tab')
                {
                    margin-bottom: 2em;
                }
                @include media('sm-tab')
                {
                    margin-bottom: 2em;
                }
                @include media('md-tab')
                {
                    margin-bottom: 2em;
                }

            }
        }

        &__submit{
            @include btn-primary(variables.$starhospitals-text-inverted,variables.$starhospitals-brand-secondary);
            padding: 1em;
            width: 50%;
            margin: 3em auto;

            @include media('sm-mob')
            {
                width: 80%;
                font-size: 12px;
                margin: 1em auto;
            }
        }

        &__note{
            text-align: center  ;
            @include font-family(400);
            font-size: 12px;
            color: variables.$starhospitals-text-secondary;
        }
    }
}