@use "utils/variables" as variables;
@import 'utils/utils';

@import "utils/media-queries";



@mixin cards-columns() {
    @include column-count(3);
    @include media("sm-mob") {
        @include column-count(1);
    }
    @include media("md-mob") {
        @include column-count(1);
    }
    @include media("lg-mob") {
        @include column-count(1);
    }

    @include media("x-sm-tab") {
        @include column-count(2);
    }
    @include media("sm-tab") {
        @include column-count(2);
    }
    @include media("md-tab") {
        @include column-count(2);
    }
    @include media("lg-tab") {
        @include column-count(2);
    }

}

.doctors-root{
    padding:3rem 0px

    &--secondary{
        background-color: variables.$starhospitals-ui-background;

    }
}
.doctors{

    @include centerSection;
    // padding: 2em 0px;
    // z-index: -1;
    // margin: 1em 0px;
    &--primary{
        width:80%;
        // padding-bottom: 5em;
    }

    &__cards-wrapper{
        width: 100%;
        
        &--flex-list{
            display: flex;
            flex-wrap: wrap;
        }
    }
}

.doctors-card{
    display: flex;
    padding: 1em;
    @include cards-columns;
    color: rgba(0, 78, 158, 0.1);
    // filter: drop-shadow(0.60em 0.60em 0.2em);
    // box-shadow: -2px 2px 2px rgba(0, 78, 158, 0.1);
    box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.05);
    -webkit-box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.05);
    -moz-box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.05);
    border-radius: 10px;
    margin: 1em calc(5%/3) 0px 0px;
    gap: 1em;
    background-color: white;

    &--primary{
        display: block;
        // position:relative;
        // border: 1px solid gray;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
        -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.10);
        margin:1em;
        // margin-left: 0px;
        padding:0px !important;

        @include media('sm-mob')
        {
            margin: 1em;
        }
        &__doctor-img{
            width: 100% !important;
            border-radius:10px 10px 0px 0px;

        };
        
        &__content{
            padding: 1.5em 1em;
            cursor: pointer;
            @include font-family(400);
            min-height:17rem;
            display:flex !important;
            flex-direction:column;
            justify-content:space-between !important;
            @include media('sm-mob')
            {
                padding: 0.5em 0.75em 1em 1em;
                // height: 14rem;
            }
            @include media('md-mob')
            {
                padding: 0.5em 0.5em 1em 1em;
                // height: 14rem;
            }
            @include media('lg-mob')
            {
                padding: 0.5em 0.5em 1em 1em;
                // height: 14rem;
            }
            @include media('x-sm-tab')
            {
                padding: 0.5em 0.5em 1em 1em;
                // height: 14rem;
            }
            @include media('sm-tab')
            {
                padding: 0.5em 0.5em 1em 0.5em;
                // height: 14rem;
            }
            @include media('lg-tab')
            {
                padding: 0.5em 0.5em 1em 0.5em;
                // height: 14rem;
            }
            h4{
                // line-height: 30px;
                // min-height: 30px;
                // font-weight: 500;
                min-height: 2.75em;
            
                @include media('x-sm-desktop')
                {
                    font-size: 14px;
                    
                }
            }

            
        }
        &__designation{
            font-size:14px;
            line-height:20px;
            font-weight:400;
            min-height: 3em;
            @include media('x-sm-desktop')
            {
                font-size: 12px;
                
            }
        }
        &__speciality{
            font-size:11px;
            line-height:20px;
            font-weight:400;
            min-height: 3em;
            @include media('x-sm-desktop')
            {
                font-size: 11px;
                
            }
        }
        &__location{
            font-size:10px;
            padding-top:1.5em;
            color: variables.$starhospitals-text-secondary;
        }
       

        &__button-wrapper{
            // padding-top:2em;
            // position:absolute;
            display: flex;
            flex-direction: column;
            gap: 0.5em;
           
        }
    }
    &__lt{
        flex: 0 0 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border: 2px solid variables.$starhospitals-brand-primary;
        border-radius: 10px;
        // min-height: 13rem;
        margin-top: 8px;
        @include media('sm-mob')
        {
            flex: 0 0 40%;
        }
        @include media('md-mob')
        {
            flex: 0 0 43%;
        }
        @include media('lg-mob')
        {
            flex: 0 0 45%;
        }
        img{
            width: 60%;
            aspect-ratio: 1;
            border-radius: 50%;
        };
        &__details{
            width: 90%;
            padding: 0.5em;
            display: flex;
            justify-content: space-between;
            align-items: center;
            p{
                display: flex;
                // width: 100%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-family: variables.$starhospitals-brand-secondary-font;
                font-weight: 700;
                font-size: 10px;
                @include media('sm-mob')
                {
                    font-size: 7px;

                }
                @include media('x-sm-tab')
                {
                    font-size: 8px;

                }

                span{
                    font-weight: 500;
                    // font-size: 12px;
                    color: variables.$starhospitals-text-tertiary;
                }
            }
        }
    }

    &__rt{
        font-family: variables.$starhospitals-brand-secondary-font;
        // flex: 0 0 60%;
        flex: 1;
        
        // padding: 0.25em; 
        h2{
            min-height: 2.5em;
            @include media('sm-mob')
            {
                
                line-height: 15px;
                min-height: 2em;
            }
            @include media('md-tab')
                {
                    min-height: 1.75em;
                }
            a{
                color: variables.$starhospitals-text-primary;
                font-weight: 400;
                font-size: 18px;
                font-family: 'Plus Jakarta Sans Bold';
                @include media('sm-mob')
                {
                    font-size: 14px;
                    line-height: 22px;
                }
                @include media('md-tab')
                {
                    font-size: 16px;
                }
               
            }
            // line-height: 1rem;
        }
        p{
            // line-height: 1.5rem;
            // padding-top: 0.5em;
        }
        &__designation{
            font-size: 12px;
            padding-top: 0.5em;
            padding-bottom: 0.5em;
        }
        &__speciality{
            padding-bottom: 1em;
            font-size: 11px;

           a{
            color: variables.$starhospitals-text-secondary;
             font-weight: 400;
             font-size: 11px;
           }
        }

        &__location{
            padding: 0.5em 0px;
            a{
                color: variables.$starhospitals-text-secondary;
                font-weight: 400;
                font-size: 10px;
            }
            

        }

        &__btn
        {
            display: flex;
            justify-content: flex-start;
            gap: 0.5em;
            align-items: center;
            color: variables.$starhospitals-text-primary;
            font-family: variables.$starhospitals-brand-secondary-font;
            font-weight: 400;
            font-size: 12px;
            font-family: 'Plus Jakarta Sans Bold';
            margin-top: 1em;
            @include media("sm-mob") {
                font-size: 11px;
          
                }
                @include media("md-mob") {
                    font-size: 11px;
         
                }
                @include media("lg-mob") {
                    font-size: 11px;
           
                }

        }
    }
}