@use "utils/variables" as variables;
@import "utils/utils";

@import "utils/media-queries";

.d-p-info {
    @include centerSection;
    width: 88.5%;
    margin-left: 7.5%;
    min-height: 30vh;
    display: flex;
    justify-content: space-between;
    gap: 3.5em;
    font-family: "Plus Jakarta Sans";

    @include media("sm-mob") {
        flex-direction: column;
        width: 85%;
        margin: 0px auto;
        gap: 3em;
    }
    @include media("md-mob") {
        flex-direction: column;
        width: 85%;
        margin: 0px auto;
        gap: 3em;
    }
    @include media("lg-mob") {
        flex-direction: column;
        width: 85%;
        margin: 0px auto;
        gap: 3em;
    }
    @include media("x-sm-tab") {
        flex-direction: column;
        width: 85%;
        margin: 0px auto;
        gap: 3em;
    }
    @include media("sm-tab") {
        flex-direction: column;
        width: 85%;
        margin: 0px auto;
        gap: 3em;
    }
    @include media("md-tab") {
        gap: 2em;
    min-height: 30vh;

    }
    &__col-1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 0 0 30.5%;
        // padding-right: 1em;
        @include media("sm-mob") {
            flex: 0 0 100%;
        }
        @include media("md-mob") {
            flex: 0 0 100%;
        }
        @include media("lg-mob") {
            flex: 0 0 100%;
        }
        @include media("x-sm-tab") {
            flex: 0 0 100%;
        }
        @include media("sm-tab") {
            flex: 0 0 100%;
        }
        @include media("md-tab") {
            flex: 0 0 30%;
        }
        img {
            width: 100%;
            // height: 100%;
            aspect-ratio: 1;
            border-radius: 10px;
        }
    }

    &__col-2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 0 0 36.5%;
        // gap: 3rem;
        @include media("sm-mob") {
            flex: 0 0 100%;
            gap:2rem;
        }
        @include media("md-mob") {
            flex: 0 0 100%;
            gap:2rem;
        }
        @include media("lg-mob") {
            flex: 0 0 100%;
            gap:2rem;
        }
        @include media("x-sm-tab") {
            flex: 0 0 100%;
            gap:2rem;
        }
        @include media("sm-tab") {
            flex: 0 0 100%;
            gap:2rem;
        }
        @include media("md-tab") {
            gap: 1.5em;
            flex:0 0 35%;
        }
    }

    &__col-3 {
        flex: 0 0 23%;
        border: 1px solid black;
        background: #ffffff;
        border: 1px solid #bdbdbd;
        border-radius: 20px;
        padding: 2em;
        @include media("sm-mob") {
            flex: 0 0 100%;
        }
        @include media("md-mob") {
            flex: 0 0 100%;
        }
        @include media("lg-mob") {
            flex: 0 0 100%;
        }
        @include media("x-sm-tab") {
            flex: 0 0 100%;
        }
        @include media("sm-tab") {
            flex: 0 0 100%;
        }
        // @include media("md-tab") {
        //     flex: 0 0 30%;
        // }
        // @include media("x-sm-desktop") {
        //     flex: 0 0 25%;
        // }

        &__scroll-tabs {
            min-height: 30vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 95%;
            @include media("sm-mob") {
                display: none;
            }
            @include media("md-mob") {
                display: none;
            }
            @include media("lg-mob") {
                display: none;
            }
            @include media("x-sm-tab") {
                display: none;
            }
            @include media("sm-tab") {
                display: none;
            }
            &__item {
                list-style-type: none;
                padding-bottom: 1em;
                // padding: 1em 0px 1.5em 0px;
                border-bottom: 0.7px solid #e0e0e0;
                @include media("md-tab") {
                    padding: 0.20em 0px 1em 0px;

                }
                @include media("lg-tab") {
                    // padding: 0.25em 0px 1em 0px;

                }
                @include media("x-sm-desktop") {
                    padding: 1.25em 0px 1em 0px;
                }
                a {
                    font-family: "Plus Jakarta Sans";
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 20px;
                    color: #757575;
                    @include media("md-tab") {
                        font-size: 13px !important;
                    }
                    @include media("lg-tab") {
                        font-size: 13px !important;
                    }
                    @include media("x-sm-desktop") {
                        font-size: 14px !important;
                    }
                }

                &--active {
                    border-bottom: 0.7px solid #004e9e;
                    a {
                        color: #004e9e;
                        font-weight: 600;
                    }
                }
            }

            &--active {
                li {
                    list-style-type: none;
                    padding: 1.5em 0px 1.25em 0px;
                    border-bottom: 0.7px solid #004e9e;
                    a {
                        color: #004e9e;
                    }
                }
            }
        }
    }

    &__name {
        line-height: 40px !important;
        font-size: 32px;
        margin-bottom: 1em;
        @include media("sm-mob") {
            font-size: 25px !important;
            margin-bottom: 0.25em;
        }
        @include media("md-mob") {
            font-size: 25px !important;
            margin-bottom: 0.25em;
        }
        @include media("lg-mob") {
            font-size: 25px !important;
            margin-bottom: 0.25em;
        }
        @include media("x-sm-tab") {
            font-size: 25px !important;
            margin-bottom: 0.25em;
        }
        @include media("sm-tab") {
            font-size: 25px !important;
            margin-bottom: 0.25em;
        }
        @include media("md-tab") {
            font-size: 22px !important;
            line-height: 30px !important;
            margin-bottom: 0.25em;
        }
        @include media("lg-tab") {
            font-size: 28px !important;
            line-height: 30px !important;
            margin-bottom: 0.75em;
        }
        @include media("x-sm-desktop") {
            // font-size: 30px !important;
            margin-bottom: 0.5em;
        }
    }

    &__designation {
        font-family: "Plus Jakarta Sans Bold";
        font-size: 24px;
        font-weight: 600;
        line-height: 30px;
        margin-bottom: 0.25em;
        @include media("sm-mob") {
            font-size: 18px !important;
        }
        @include media("md-mob") {
            font-size: 18px !important;
        }
        @include media("lg-mob") {
            font-size: 18px !important;
        }
        @include media("x-sm-tab") {
            font-size: 18px !important;
        }
        @include media("sm-tab") {
            font-size: 18px !important;
        }
        @include media("md-tab") {
            font-size: 18px !important;
        }
        @include media("lg-tab") {
            font-size: 20px !important;
        }
        // @include media("x-sm-desktop") {
        //     font-size: 20px !important;
        // }
    }

    &__speciality {
        font-family: "Plus Jakarta Sans";
        font-size: 20px;
        font-weight: 400;
        line-height: 25px;
        margin-bottom: 0.5em;
        @include media("sm-mob") {
            font-size: 15px !important;
        }
        @include media("md-mob") {
            font-size: 15px !important;
        }
        @include media("lg-mob") {
            font-size: 15px !important;
        }
        @include media("x-sm-tab") {
            font-size: 15px !important;
        }
        @include media("sm-tab") {
            font-size: 15px !important;
        }
        @include media("md-tab") {
            font-size: 15px !important;
        }

        // @include media("x-sm-desktop") {
        //     font-size: 15px !important;
        // }
    }

    &__location {
        font-family: "Plus Jakarta Sans";
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
        // @include media("x-sm-desktop") {
        //     font-size: 12px !important;
        // }
    }
    &__selectbox{
        input , select{
            min-height: 50px;
            border: 1.7px solid #e0e0e0;
            background-color: #fafafa;
            border-radius: 10px;
            width: 50%;
            padding: 0px 1em;
            outline: none;
            font-family: 'Plus Jakarta Sans';
        }
    
    
        select{
            -webkit-appearance: none;
        -moz-appearance: none;
        position: relative;
        background: transparent;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.0007 13.1714L16.9505 8.22168L18.3647 9.63589L12.0007 15.9999L5.63672 9.63589L7.05094 8.22168L12.0007 13.1714Z' fill='black'/%3E%3C/svg%3E%0A") !important;
        background-repeat: no-repeat !important;
        background-size: 25px;
        background-position: calc(100% - 1em) !important;
        padding-right: 2em !important;
        }
    }
    &__btn-wrapper {
        display: flex;
        gap: 2em;
        &__btn {
            display: block;
            min-height: 50px;
            min-width: 133px;
            width: max-content;
            border-radius: 10px;
            font-family: "Plus Jakarta Sans";
            font-weight: 600;
            border: 1px solid #004e9e;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px 15px;
            color: #424242;
            font-size: 12px;
            gap: 0.5em;

            
            @include media("md-tab") {
                min-height: 30px;
                height: 30px;
                min-width: 50px;
                width: max-content;
              font-size: 10px;
              gap: 0.25em !important;
            }
            span {
                font-family: "Plus Jakarta Sans";
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 25px;

                color: #004e9e;

                @include media("sm-mob") {
                    font-size: 15px !important;
                }
                @include media("md-mob") {
                    font-size: 15px !important;
                }
                @include media("lg-mob") {
                    font-size: 15px !important;
                }

                @include media("x-sm-tab") {
                    font-size: 15px !important;
                }
                @include media("sm-tab") {
                    font-size: 15px !important;
                }
                @include media("md-tab") {
                    font-size: 10px !important;
                }
            }

            &--primary{
                color: #ffff;
                border: 1px solid #ffff;
                display: flex;
                // justify-content: center;
                align-items: center !important;
                font-weight: 400 !important;
                font-size: 11px !important;
                // min-width: 133px !important;
                span{
                    // display: block;
                    color: white !important;
                    font-size: 18px !important;
                    }
            }
        }
    }

    &__appointment-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1em;
        @include media("sm-mob") {
            gap: 1.5em;
        }

        @include media("md-mob") {
            gap: 1.5em;
        }

        @include media("lg-mob") {
            gap: 1.5em;
        }
        @include media("x-sm-tab") {
            gap: 1.5em;
        }
        @include media("sm-tab") {
            gap: 1.5em;
        }
        &__btn {
            display: flex;
            align-items: center;
            gap: 0.5em;

            span {
                font-family: "Plus Jakarta Sans Bold";
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                /* identical to box height */

                color: #020202;
            }
        }
    }
}

.d-p-achievement {
    @include centerSection;
    width: 60%;
    margin-left: 7.5%;
    margin-top: 1em;
    // min-height: 5rem;
    gap: 2em;
    @include media("sm-mob") {
        width: 85%;
        margin: 0em auto;
        // margin-top: 3em;

        gap: 1em;
    }
    @include media("md-mob") {
        width: 85%;
        margin: 0em auto;
        // margin-top: 3em;

        gap: 1em;
    }
    @include media("lg-mob") {
        width: 85%;
        margin: 0em auto;
        // margin-top: 3em;

        gap: 1em;
    }
    @include media("x-sm-tab") {
        width: 85%;
        margin: 0em auto;
        // margin-top: 3em;

        gap: 1em;
    }

    &__tab {
        display: flex;
        gap: 0.5em;
        border-bottom: 0.7px solid #004e9e;
        align-items: center !important  ;
        justify-content: center;
        // min-height: 5rem;
        cursor: pointer;
        padding-bottom: 1em;
        @include media("sm-mob") {
            gap: 1em;
        }
        @include media("md-mob") {
            gap: 1em;
        }
        @include media("lg-mob") {
            gap: 1em;
        }
        @include media("x-sm-tab") {
            gap: 1em;
        }
        @include media("sm-tab") {
            gap: 1em;
        }
        svg {
            flex: 0 0 10%;
            width: 50px !important;
            height: 50px !important;
        }
        h1 {
            display: flex;
            align-items: center !important;
            height: max-content;
            padding: 0;
            justify-content: center;
            font-size: 26px;
            @include media("sm-mob") {
                font-size: 15px;
            }
            @include media("md-mob") {
                font-size: 15px;
            }
            @include media("lg-mob") {
                font-size: 15px;
            }
            @include media("x-sm-tab") {
                font-size: 15px;
            }
            @include media("sm-tab") {
                font-size: 15px;
            }
            @include media("md-tab") {
                font-size: 20px;
            }
            
            @include media("x-sm-desktop") {
                font-size: 20px;
            }

        }
        span {
            font-weight: 600;
            font-size: 30px;
            font-family: "Plus Jakarta Sans Bold";
            flex: 1;
            display: flex;
            align-items: center !important  ;
            justify-content: flex-end;
            padding-right: 2em;
            @include media("sm-mob") {
                padding-right: 1em;
            }
            @include media("md-mob") {
                padding-right: 1em;
            }
            @include media("lg-mob") {
                padding-right: 1em;
            }
            @include media("x-sm-tab") {
                padding-right: 1em;
            }
            @include media("sm-tab") {
                padding-right: 1em;
            }
            
        }
    }

    &__details {
        padding: 0em 5.5em;
        // padding-bottom: 3em;
        font-family: "Plus Jakarta Sans";
        margin-top: 1em;
        max-height: 0em;
        transition: all 0.5s;
        overflow: hidden;
        @include media("sm-mob") {
            padding: 0em 0.5em;
        }

        @include media("md-mob") {
            padding: 0em 0.5em;
        }

        @include media("lg-mob") {
            padding: 0em 0.5em;
        }
        @include media("x-sm-tab") {
            padding: 0em 0.5em;
        }
        @include media("sm-tab") {
            padding: 0em 0.5em;
        }
        &--active {
            max-height: 80rem;
            padding-bottom: 2rem;
        }
        &__title {
            padding-bottom: 1rem;
            @include media("sm-mob") {
                font-size: 18px !important  ;
            }
            @include media("md-mob") {
                font-size: 18px !important  ;
            }


            @include media("lg-mob") {
                font-size: 18px !important  ;
            }
            @include media("x-sm-tab") {
                font-size: 18px !important  ;
            }
            @include media("sm-tab") {
                font-size: 18px !important  ;
            }
        }

        ul {
            li {
                font-family: "Plus Jakarta Sans";
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                color: #212121;
                padding: 0.5em 0px;
            }
        }

        &__btn {
            display: block;
            font-family: "Plus Jakarta Sans Bold";
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 20px;
            /* identical to box height, or 143% */
            width: max-content;
            color: #e3000f;
            border-bottom: 0.7px solid #004e9e;
            padding-top: 2em;
            @include media("sm-mob") {
                font-size: 12px !important  ;
                // width: 100%;
            }
            @include media("md-mob") {
                font-size: 12px !important  ;
                // width: 100%;
            }
            @include media("lg-mob") {
                font-size: 12px !important  ;
                // width: 100%;
            }
            @include media("x-sm-tab") {
                font-size: 12px !important  ;
                // width: 100%;
            }
            @include media("sm-tab") {
                font-size: 12px !important  ;
                // width: 100%;
            }
        }
    }
}
