@use "utils/variables" as variables;
@import 'utils/utils';

@import "utils/media-queries";

.faqs{
    @include centerSection;
    width: 80%;
    margin-top: 3em;

    &__card{
        width: 100%;
        // padding: 1em;
        margin-bottom: 1em;
        // max-height: 10rem;
        @include media('sm-mob')
        {
            margin-bottom: 2em;
        }
        @include media('md-mob')
        {
            margin-bottom: 2em;
            
        }
        @include media('lg-mob')
        {
            margin-bottom: 2em;
            
        }
        &--active{
            max-height: 50rem;
            .faqs__card__questions
            {
                &::after{
                    content: "❯";
                    display: block;
                    position: absolute;
                    right: 1em;
                    top: 35%;
                    color: variables.$starhospitals-ui-tertiary;
                    transform: rotate(270deg);
                }
            }
        }
        &__questions{
            padding: 1em;
            padding-right: 2em;
            list-style-type: none;
            background-color: variables.$starhospitals-brand-primary;
            border-radius: 10px;
            @include font-family(500);
            color: variables.$starhospitals-text-inverted;
            font-size: 15px;
            position: relative;
            // margin-bottom: 1em;
            cursor: pointer;
            &::after{
                content: "❯";
                display: block;
                position: absolute;
                right: 1em;
                top: 35%;
                color: variables.$starhospitals-ui-tertiary;
                transform: rotate(90deg);
            }
        }
        &__answer{
            padding: 0em 2em;
            // padding-top: 2em;
            @include font-family(400);
            animation: growDown 100ms ease-in-out forwards;
            line-height: 25px;
            // max-height: 0px;
            display: none;
            overflow: hidden;
            // padding: 0;
            text-align: justify;
            margin: 2em 0px;

            @include media('sm-mob')
            {
                font-size: 14px;
            }
            @include media('md-mob')
            {
                font-size: 14px;
            }
            @include media('lg-mob')
            {
                font-size: 14px;
            }
            &--active{
                // padding: 2em 1px;
                display: block;
                // max-height: 50rem;
                margin: 2em 0px;

            //     padding: 1em;
            // padding-top: 2em;

            }

        }
    }
}