@use "utils/variables" as variables;
@import "utils/utils";

@import "utils/media-queries";
@mixin fields-width($columns) {
    flex: 0 0 calc(98% / $columns);
}

@mixin fields-width-query() {
    @include fields-width(4);
    @include media("sm-mob") {
        @include fields-width(2);
    }
    @include media("md-mob") {
        @include fields-width(2);
    }
    @include media("lg-mob") {
        @include fields-width(2);
    }

    @include media("x-sm-tab") {
        @include fields-width(2);
    }
    @include media("md-tab") {
        @include fields-width(2);
    }
    @include media("lg-tab") {
        @include fields-width(2);
    }
}

.search-doctor {
    min-height: 9rem;
    background-color: variables.$starhospitals-brand-primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left:7.5%;
    padding-right:4%;
    

    @include media("sm-mob") {
        flex-direction: column;
        padding: 1em 0px;
        gap: 1em;
        width: 90%;
        margin: 0px auto;
        // border: 1px solid black;
        margin-top: 3em;
        border-radius: 10px;
        @include box-shadow;
    background-color: white;
    }
    @include media("md-mob") {
        flex-direction: column;
        padding: 1em 0px;
        gap: 1em;
        width: 90%;
        margin: 0px auto;
        // border: 1px solid black;
        margin-top: 3em;
        border-radius: 10px;
        @include box-shadow;
    background-color: white;
    }
    @include media("lg-mob") {
        flex-direction: column;
        padding: 1em 0px;
        gap: 1em;
        width: 90%;
        margin: 0px auto;
        // border: 1px solid black;
        margin-top: 3em;
        border-radius: 10px;
        @include box-shadow;
    background-color: white;
    }
    @include media("x-sm-tab") {
        flex-direction: column;
        padding: 1em 0px;
        gap: 1em;
        width: 90%;
        margin: 0px auto;
        // border: 1px solid black;
        margin-top: 3em;
        border-radius: 10px;
        @include box-shadow;
    background-color: white;
    }
    @include media("md-tab") {
        flex-direction: column;
        padding: 1em 0px;
        gap: 1em;
        width: 90%;
        margin: 0px auto;
        // border: 1px solid black;
        margin-top: 3em;
        border-radius: 10px;
        @include box-shadow;
    background-color: white;
    }
    form {
        display: block;
    }
    &__submit-btn-container {
        flex: 0 0 20%;
        display: flex;
        align-items: center;
        @include font-family(400);


       

        // h2{
        // // @include font-family(700);

        // @include media("sm-mob") {
        // font-size: 20px;
            

        // }
        // @include media("md-mob") {
        // font-size: 20px;
            

        // }
        // @include media("lg-mob") {
        // font-size: 20px;
            

        // }
        // @include media("x-sm-tab") {
        // font-size: 20px;
            

        // }
        // @include media("md-tab") {
        // font-size: 20px;
            

        // }
        // }
        &--mobile{
            padding: 0px 1em;
            justify-content: space-between;
            gap: 0.5em;

            display:none; 
            @include media("sm-mob") {
                display:flex;
    
            }
            @include media("md-mob") {
                display:flex
    
            }
            @include media("lg-mob") {
                display:flex
    
            }
            @include media("x-sm-tab") {
                display:flex
    
            }
            @include media("md-tab") {
                display:flex
    
            }
        }
    }
    &__submit-btn {
        @include btn-primary(white, variables.$starhospitals-brand-secondary);
        border: none;
        outline: none;
        font-size: 15px;
        padding: 1em 0px;
        font-weight: 600;
        cursor: pointer;
        width: 90%;
        // margin-right: 15rem;
        @include media("sm-mob") {
            padding: 1em;
            font-size: 12px;
        width: max-content;
        // display:none;

        }
        @include media("md-mob") {
            padding: 1em;
            font-size: 12px;
        width: max-content;
        // display:none;

        }
        @include media("lg-mob") {
            padding: 1em;
            font-size: 12px;
        width: max-content;
        // display:none;

        }
        @include media("x-sm-tab") {
            padding: 1em;
            font-size: 12px;
        width: max-content;
        // display:none;

        }
        @include media("md-tab") {
            padding: 1em;
            font-size: 12px;
        width: max-content;
        // display:none;

        }

        &--mobile{
            display: none;
            @include media("sm-mob") {
                display:block;;
    
            }
            @include media("md-mob") {
                display:block;
    
            }
            @include media("lg-mob") {
                display:block;
    
            }
            @include media("x-sm-tab") {
                display:block;
    
            }
            @include media("sm-tab") {
                display:block;
    
            }
            @include media("md-tab") {
                display:block;
    
            }
        }
    }
}
.filter {
    @include centerSection;
    width:79%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &--type-secondary {
        // justify-content:space-between;
        // gap: 1em    ;
        margin: 0px;
        flex: 0 0 70%;

        .filter__fields-wrapper {
            flex: 0 0 calc(95% / 3);
        }
        @include media("sm-mob") {
            gap: 1em;
            flex-direction: column;
        }
        @include media("md-mob") {
            gap: 1em;
            flex-direction: column;
        }
        @include media("lg-mob") {
            gap: 1em;
            flex-direction: column;
        }
        @include media("x-sm-tab") {
            gap: 1em;
            flex-direction: column;
        }
        @include media("md-tab") {
            gap: 1em;
            flex-direction: column;
        }
    }
    &__fields-wrapper {
        // flex: 0 0 calc(90%/4);
        @include fields-width-query;
        @include input-fields-with-Icon;
        border-radius: 10px;

        // margin-top: 0.5em;

        // border: 1px solid variables.$starhospitals-ui-tertiary;
        // border-radius: 10px;
        // display: flex;
        // justify-content: flex-start;
        // align-items: center;
        // padding: 0.25em;

        // svg {
        //     padding: 0.25em;
        // }

        // input,
        // select {
        //     border: none;
        //     outline: none;
        //     color: variables.$starhospitals-text-tertiary;
        //     width: 100%;
        //     height: 80%;
        //     background: none;
        // }
    }
}
