@use "utils/variables" as variables;

@import 'utils/utils';
@import "utils/media-queries";

.heading{

    @include centerSection;
    width: 80%;
    // @include media('sm-mob')
    // {
    //     width: 90%;
    // }
    @include media("sm-mob") {
        width: 90%;;
            

        }
        @include media("md-mob") {
        width: 90%;;
            

        }
        @include media("lg-mob") {
        width: 90%;;
            

        }
    &--secondary{
        width:70%;
        @include media("sm-mob") {
            width: 90%;;
                
    
            }
            @include media("md-mob") {
            width: 90%;;
                
    
            }
            @include media("lg-mob") {
            width: 90%;;
                
    
            }
    }
    &__title,&__sub-title{
        text-align: center;
        font-family: variables.$starhospitals-brand-secondary-font;
        // color: variables.$section-heading-desc;
    color:variables.$starhospitals-text-primary;

        line-height:20px
    }

    &__title{
      

        @include media('sm-mob')
        {
            font-size: 20px;
        }
    };
    &__sub-title  {
        font-weight: 400 !important;
        margin: 3em 0px 1.5em 0px;
     
        @include media('sm-mob')
        {
            font-size: 14px;
            margin: 1em 0px;
            line-height: 25px;
        // text-align: justify;

        }
        @include media('md-mob')
        {
            font-size: 14px;
            margin: 1em 0px;
            line-height: 25px;
        // text-align: justify;
            
        }
        @include media('lg-mob')
        {
            font-size: 14px;
            margin: 1em 0px;
            line-height: 25px;
        // text-align: justify;
            
        }

        @include media('x-sm-tab')
        {
            font-size: 14px;
            margin: 1em 0px;
            line-height: 25px;
        // text-align: justify;
            
        }

        @include media('sm-tab')
        {
            font-size: 14px;
            margin: 1em 0px;
            line-height: 25px;
        // text-align: justify;
            
        }
    }
    .when-to-contact-root &__sub-title{
        font-size: 20px;
    }
   
    
}
