@use "utils/variables" as variables;
@import 'utils/utils';
@import "utils/media-queries";


.pagination{
    @include centerSection;
    
    &__wrapper{
        display: flex;
        gap: 1em;
        justify-content: flex-end;
        align-items: center;
        @include media("sm-mob") {
            flex-direction: column;
        justify-content: center;

        }
        @include media("md-mob") {
            flex-direction: column;
        justify-content: center;

        }
        @include media("lg-mob") {
            flex-direction: column;
            justify-content: center;

        }
    }
    &__pages{
        margin: 0px;
        padding: 0px;
        display: flex;

        li{
            list-style-type: none;
            a{
                padding: 0.5em 1em;
                font-family: variables.$starhospitals-brand-secondary-font;
                font-weight: 600;
            }
        }
    }

    &__buttons{
        border: 1.5px solid variables.$starhospitals-brand-secondary;
        // height: 2.5rem;
        border-radius: 10px;
        overflow: hidden;
        &__button{
            // border-radius: 10px;
            display: inline-block;
            // border-radius: 10px;

            padding: 0.5em 1em;
            width: 8rem;
            height: 100%;
            text-align: center;
            font-family: variables.$starhospitals-brand-secondary-font;
            font-weight: 500;
            color: variables.$starhospitals-brand-secondary;

            &--active{
                background-color:variables.$starhospitals-brand-secondary;
                color: variables.$starhospitals-text-inverted;
            }
            
            // margin: 0px;
        }
    }

    p{
        text-align: right;
        padding: 1em;

        @include media("sm-mob") {
            text-align: center;


        }
        @include media("md-mob") {
            text-align: center;
            

        }
        @include media("lg-mob") {
            text-align: center;
           

        }
    }
}   