@use "utils/variables" as variables;
@import "utils/utils";

@import "utils/media-queries";
$visible-cards: 1;
.slider {
    width: 100%;
    // height: 60vh;
    // background-color: black;
    // display: flex;
    // overflow: hidden;
    &__image {
        width: 100%;
        height: 100%;
        @include media("sm-mob") {
            // height: 50%;
            // position: absolute;
            bottom: 0;
        }
        @include media("md-mob") {
            // height: 50%;
            // position: absolute;
            bottom: 0;
        }
        @include media("lg-mob") {
            // height: 50%;
            // position: absolute;
            bottom: 0;
        }
    }

    &__item {
        // height: 60vh;
        height: 50vh;
        z-index: 3000;
        position: relative;
        @include media("sm-mob") {
            height: 27vh;
        }
        @include media("md-mob") {
            height: 30vh;
        }
        @include media("lg-mob") {
            height: 30vh;
        }

        @include media("x-sm-tab") {
            height: 30vh;
        }

        // @include media('sm-tab')
        // {
        //     height: 40vh;
        // }
        @include media("md-tab") {
            height: 50vh;
        }

        &__content {
            position: absolute;
            width: 50%;
            top: 50%;
            left: 7.5%;
            background-color: white;
            min-height: 50%;
            transform: translateY(-50%);
            z-index: 3000;
            border-left: 10px solid variables.$starhospitals-brand-secondary;
            border-radius: 10px;
            padding: 2em 2.5em;
            display: flex;
            align-items: center;

            @include media("sm-mob") {
                width: 100%;
                top: 0px;
                left: 0px;
                bottom: 0px;
                right: 0px;
                transform: translateY(0%);
                border-left: none;
                border-radius: 0px;
                padding: 1em;
                background-color: #004e9ebf;
            }
            @include media("md-mob") {
                width: 100%;
                top: 0px;
                left: 0px;
                bottom: 0px;
                right: 0px;
                transform: translateY(0%);
                border-left: none;
                border-radius: 0px;
                padding: 1em;
                background-color: #004e9ebf;
            }

            @include media("lg-mob") {
                width: 100%;

                top: 0px;
                left: 0px;
                bottom: 0px;
                right: 0px;
                transform: translateY(0%);
                border-left: none;
                border-radius: 0px;
                padding: 1em;
                background-color: #004e9ebf;
            }
            @include media("x-sm-tab") {
                width: 100%;

                top: 0px;
                left: 0px;
                bottom: 0px;
                right: 0px;
                transform: translateY(0%);
                border-left: none;
                border-radius: 0px;
                padding: 1em;
                padding-left: 5em;
                background-color: #004e9ebf;
            }
            @include media("sm-tab") {
                width: 60%;
                // padding: 1em;
                min-height: max-content;

                left: 5%;
            }
            @include media("md-tab") {
                width: 60%;
                // padding: 1em;
                min-height: max-content;

                left: 5%;
            }
            @include media("lg-tab") {
                width: 60%;
                // padding: 1em;
                min-height: max-content;

                left: 5%;
            }

            h1 {
                // @include font-family(700);
                font-size: 35px;
                line-height: 45px;
                font-family: "Plus Jakarta Sans Semi Bold";
                font-weight: 700;
                @include media("sm-mob") {
                    font-size: 20px;
                    line-height: 25px;
                    color: white;
                }
                @include media("md-mob") {
                    font-size: 20px;
                    line-height: 25px;
                    color: white;
                }
                @include media("lg-mob") {
                    font-size: 20px;
                    line-height: 25px;
                    color: white;
                }

                @include media("x-sm-tab") {
                    font-size: 20px;
                    line-height: 25px;
                    color: white;
                    margin-top: 5%;
                    width: 60%;
                }
                @include media("sm-tab") {
                    font-size: 20px;
                    line-height: 25px;
                    color: white;
                }
            }

            p {
                margin-top: 1rem;
                color: variables.$starhospitals-text-secondary;

                @include font-family(400);

                @include media("sm-mob") {
                    font-size: 12px;
                    margin-top: 1em;
                    color: white;
                }
                @include media("md-mob") {
                    font-size: 12px;
                    margin-top: 1em;
                    color: white;
                }
                @include media("lg-mob") {
                    font-size: 12px;
                    margin-top: 1em;
                    color: white;
                }
                @include media("x-sm-tab") {
                    font-size: 12px;
                    margin-top: 1em;
                    color: white;
                    width: 50%;
                }
                @include media("sm-tab") {
                    font-size: 12px;
                    margin-top: 1em;
                    color: white;
                }
            }

            a {
                @include btn-primary(
                    variables.$starhospitals-brand-secondary,
                    "white"
                );
                font-family: "Plus Jakarta Sans Bold";
                min-width: 183px;
                height: 53px;
                width: max-content;
                margin-top: 2rem;
                font-size: 15px;
                padding: 16px 40px 16px 40px;
                background-color: white;
                display: flex;
                align-items: center;  
                justify-content: center;
                @include media("sm-mob") {
                    font-size: 13px;
                    margin-top: 1em;
                    border: none;
                    min-width: 133px;
                    height: 40px;
                    padding: 10px 15px;
                    width: max-content;
                }
                @include media("md-mob") {
                    font-size: 13px;
                    margin-top: 1em;
                    border: none;
                    min-width: 133px;
                    height: 40px;
                    padding: 10px 15px;
                    width: max-content;
                }
                @include media("lg-mob") {
                    font-size: 13px;
                    margin-top: 1em;
                    border: none;
                    min-width: 133px;
                    height: 40px;
                    padding: 10px 15px;
                    width: max-content;
                }
                @include media("x-sm-tab") {
                    font-size: 13px;
                    margin-top: 1em;
                    border: none;
                    min-width: 133px;
                    height: 40px;
                    padding: 10px 15px;
                    width: max-content;
                }
                @include media("sm-tab") {
                    font-size: 13px;
                    margin-top: 1em;
                    border: none;
                    min-width: 133px;
                    height: 40px;
                    padding: 10px 15px;
                    width: max-content;
                }
            }
        }
    }
}
