@use "utils/variables" as variables;
@import "utils/utils";

@import "utils/media-queries";

.story{
    overflow: hidden;
    // position: relative;
    &__content {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        // height: max-content;
        margin-top: 1em;
        @include media("sm-mob") {
            // height: 45vh;
        }
        @include media("md-mob") {
            // height: 50vh;
        }
        @include media("lg-mob") {
            // height: 50vh;
        }
        @include media("x-sm-tab") {
            // height: 50vh;
        }
        @include media("sm-tab") {
            // height: 76vh;
        }
        @include media("md-tab") {
            // height: 50vh;
        }
        @include media("lg-tab") {
            // height: 50vh;
        }

        img{
        position: absolute;
        height: 100%;
     width: 100%;

        @include media("sm-mob") {
            // position: relative;
            // height: 32vh;
            // margin-top: 1rem;
            // height: 60%;
        }
        @include media("md-mob") {
            // position: relative;
            // height: 30vh;
            // margin-top: 2rem;
            // bottom: 0;
        }
        @include media("lg-mob") {
            // position: relative;
            // height: 30vh;
            // margin-top: 2rem;
        }
        @include media("x-sm-tab") {
            // position: relative;
            // height: 30vh;
            // margin-top: 2rem;
        }
        @include media("sm-tab") {
            // position: relative;
            // height: 30vh;
            // margin-top: 2rem;
        }
        @include media("md-tab") {
            // position: relative;
            // height: 30vh;
            // margin-top: 2rem;
        }
        @include media("lg-tab") {
            // position: relative;
            height: 30vh;
            // margin-top: 2rem;
        }

    }
    &__text{
        position: relative;
        color: black;
        padding: 3rem 10rem;
        // height: 100%;
        // width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        align-items: center;
        // background-color: #004f9e63;
        // margin-top: 2rem;
        // margin-bottom: 2rem;
        @include media("sm-mob") {
            // position: absolute;
            // height: 45vh;
            width: 100%;
            padding: 1rem 2em;
            transform: translateY(0%);
            // background-color: #004e9ebf;
        //     margin-top: 2rem;
        // margin-bottom: 2rem;


        }

    @include media("md-mob") {
        // position: absolute;
        // height: 57vh;
        width: 100%;
        padding: 1rem 2em;
        transform: translateY(0%);
        // background-color: #004e9ebf;
        // margin-top: 2rem;
        // margin-bottom: 2rem;




    }
    @include media("lg-mob") {
        // position: absolute;
        // height: 57%;
        width: 100%;
        padding: 1rem 2em;
        transform: translateY(0%);
        // background-color: #004e9ebf;
        // margin-top: 2rem;
        // margin-bottom: 2rem;



    }
    @include media("x-sm-tab") {
        // position: absolute;
        // height: 46vh;
        width: 100%;
        padding: 1rem 2em;
        transform: translateY(0%);
        // background-color: #004e9ebf;
        // margin-top: 2rem;
        // margin-bottom: 2rem;
    }

    @include media("sm-tab") {
        // height: 50vh;

        padding: 1rem 2em;
        // margin-top: 2rem;
        // margin-bottom: 2rem;
    }
    @include media("md-tab") {
        // height: 46vh;
        // font-size: 15px;
            // line-height: 25px;
            // margin-left: 2rem;
            width: 100%;
            padding: 1rem 2em;
        //     margin-top: 2rem;
        // margin-bottom: 2rem;
    }
    @include media("lg-tab") {
        // height: 46vh;
        // font-size: 15px;
            // line-height: 25px;
            // margin-left: 2rem;
            width: 100%;
            padding: 1rem 2em;
        //     margin-top: 2rem;
        // margin-bottom: 2rem;
    }

     h1{
        font-family: 'Plus Jakarta Sans Bold';
        // font-size: 20px;
        font-weight: 700;

        line-height: 50px;
        // width: 51%;
        font-size: 36px;
        @include media("sm-mob") {
            // color: black;
            line-height: 18px;
            font-size: 14px;
            // margin-left: 2rem;
            width: 90%;

        }
        @include media("md-mob") {
            line-height: 25px;
            font-size: 18px;
            // margin-left: 2rem;
            width: 90%;

        }
        @include media("lg-mob") {
            line-height: 25px;
            font-size: 18px;
            // margin-left: 2rem;
            width: 90%;

        }
        @include media("x-sm-tab") {
            line-height: 30px;
            font-size: 20px;
            // margin-left: 2rem;
            width: 90%;
        }
        @include media("sm-tab") {
            font-size: 23px;
            line-height: 30px;

        }
        @include media("md-tab") {
            font-size: 23px;
            line-height: 30px;

        }
        @include media("lg-tab") {
            font-size: 23px;
            line-height: 30px;

        }

     }
     p{
        font-family: 'Plus Jakarta Sans Semi Bold';
        margin-top: 1em;
        margin-bottom: 2rem;
        font-size: 1.2em;
        font-weight: 500;
        line-height: 30px;
        width: 55%;
        font-size: 20px;
        @include media("sm-mob") {
            // color: black;
            line-height: 18px;
           font-size: 12px;
           width: 80%;
        }
        @include media("md-mob") {
           // color: black;
           line-height: 21px;
           font-size: 14px;
           width: 80%;
           // margin-left: 2rem;
        }
        @include media("lg-mob") {
           // color: black;
           line-height: 21px;
           font-size: 14px;
           width: 80%;
           // margin-left: 2rem;
        }
        @include media("x-sm-tab") {
            // color: black;
            line-height: 26px;
            font-size: 16px;
            width: 80%;
            // line-height: 35px;
            // margin-left: 2rem;
            // width: 80%;
        }
        @include media("sm-tab") {
            line-height: 26px;
            font-size: 16px;
            width: 80%;
        }
        @include media("md-tab") {
            line-height: 26px;
            font-size: 16px;
            width: 80%;
        }
        @include media("lg-tab") {
            line-height: 26px;
            font-size: 16px;
            width: 80%;
        }

     }
     button{
        width: 150px;
        padding: 18px 20px;
        border-radius: 10px;
        border: 1px solid rgb(1, 1, 1);
        background: transparent;
        cursor: pointer;
        color: black;
        font-family: Plus Jakarta Sans;
        font-weight: 500;

        @include media("sm-mob") {
            // color: black;
            line-height: 15px;
            font-size: 9px;
            padding: 4px;
            width: 90px;
            // margin-left: 2rem;
        }
        @include media("md-mob") {
           // color: black;
           line-height: 20px;
           font-size: 10px;
           padding: 4px;
           width: 90px;
           // margin-left: 2rem;
        }
        @include media("lg-mob") {
           // color: black;
           line-height: 25px;
           font-size: 12px;
           padding: 4px;
           width: 90px;
           // margin-left: 2rem;
        }
        @include media("x-sm-tab") {
            // color: black;
            font-size: 12px;
            padding: 11px;
            // line-height: 35px;
            // margin-left: 2rem;
        }
        @include media("sm-tab") {
            font-size: 15px;
           padding: 9px;
        }
        @include media("md-tab") {
            font-size: 15px;
            padding: 9px;
        }
        @include media("lg-tab") {
            font-size: 15px;
            padding: 9px;
        }

     }



    }


}

// .story__content.slick-slide img{
//     width: 100% !important;
//     // margin: 0px !important;
// }
}



