.talk-doctor {
    width: 70%;
    margin: 0px auto;
    display: flex;
    @include box-shadow;
    border-radius: 20px;
    // padding: ;
    @include media("sm-mob") {
        width: 90%;
        flex-direction: column;
        gap: 2em;
        padding: 1em;
    }
    @include media("md-mob") {
        width: 90%;
        flex-direction: column;
        gap: 2em;
        padding: 1em;
    }
    @include media("lg-mob") {
        width: 90%;
        flex-direction: column;
        gap: 2em;
        padding: 1em;
    }
    @include media("x-sm-tab") {
        width: 90%;
        flex-direction: column;
        gap: 2em;
        padding: 1em;
    }
    @include media("sm-tab") {
        width: 90%;
        // flex-direction: column;
        gap: 2em;
        padding: 1em;
    }
    @include media("md-tab") {
        width: 90%;
        // flex-direction: column;
        gap: 2em;
        padding: 1em;
    }
    @include media("lg-tab") {
        width:85%;
        margin-top: 2em;

    }
    &__submit{
        border-radius: 10px !important;
        width:max-content;
        margin: 0px auto;
        margin-top: 1em;
    }
    &__image-wrapper {
        flex: 0 0 45%;
        // height: 31rem;
        @include media("sm-mob") {
            
            display: none;
        }
        @include media("md-mob") {
            
            display: none;
        }
        @include media("lg-mob") {
            
            display: none;
        }
        @include media("x-sm-tab") {
            
            display: none;
        }

        img {
            height: 100%;
            width: 100%;
            @include media("sm-mob") {
                width: 100%;
                border-radius: 20px;
                display: none;
            }
            @include media("md-mob") {
                width: 100%;
                border-radius: 20px;
                display: none;
            }
            @include media("lg-mob") {
                width: 100%;
                border-radius: 20px;
                display: none;
            }
            @include media("x-sm-tab") {
                width: 100%;
                border-radius: 20px;
                display: none;
            }

        }
    }

    &__form-wrapper {
        flex: 0 0 55%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2em 0px;

        &__content{
            width: 80%;
            input,select,textarea{
                font-family: 'Plus Jakarta Sans';
            }
        }
        h2 {
            padding: 0em 0px 1em 0px;
            line-height: 40px;
            // width: 80%;
            // text-align: justify;
            @include media("sm-mob") {
                text-align: center;
            }
            @include media("md-mob") {
                text-align: center;
            }
            @include media("lg-mob") {
                text-align: center;
            }
        }
    }
}
