@use "utils/variables" as variables;
@import "utils/utils";

@import "utils/media-queries";


.when-to-contact-root{
    width: 100%;
    // background-color: #004E9E;
    min-height: 20rem;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(76,156,254,1) 0%, rgba(0,78,158,1) 46%);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &__vector{
            position: absolute;
            bottom: -4px;
            left: 0;

            @include media('sm-mob')
                {
                    width: 20%;
                }
                @include media('md-mob')
                {
                    width: 20%;
                }
                @include media('lg-mob')
                {
                    width: 20%;
                }
                @include media('x-sm-tab')
                {
                    width: 20%;
                }
                @include media('sm-tab')
                {
                    width: 20%;
                }
    }

    h2,p,div{
        color: variables.$starhospitals-text-inverted;
        font-family: 'Plus Jakarta Sans';
        line-height: 30px;
        text-align: center;
        
    }

    p{
        margin: 2em 0px 0px 0px;
        line-height: 30px;
    }
}