@use "utils/variables" as variables;
@import "utils/utils";
@import "utils/media-queries";
$main-header-height: 8rem;
$fixed-header-height:6rem;

@mixin dropdown-Options-wrapper() {
    display: none;
    position: absolute;
    list-style-type: none;
    min-width: 100%;
    border-radius: 10px;
    background-color: variables.$starhospitals-text-inverted;
    @content;
}

@mixin fixed-header() {
    position: fixed;
    background-color: variables.$starhospitals-text-inverted;
    margin-left: 50%;
    transform: translate(-50%);
}

@mixin dropdown-link() {
    display: block;
    padding: 0.5em 0.5em;
    // background-color: black;
    color: variables.$starhospitals-ui-secondary;
    width: 100%;
    font-size: 13px;
}

@mixin option-hover() {
    background-color: variables.$starhospitals-brand-primary;
    color: variables.$starhospitals-text-inverted;
}

@mixin dropdown-arrow() {
    content: "❯";
    display: block;
    position: absolute;
    right: 10px;
    top: 0;
    color: variables.$starhospitals-ui-tertiary;
}

@keyframes growRight {
    0% {
        left: 0;
    }
    80% {
        left: 100%;
    }
    100% {
        left: 100%;
    }
}

@mixin mobile-nav() {
    top: $fixed-header-height;
    bottom: 0px;
    left: 100%;
    right: 0px;
    z-index: 3000;
    // width: 10%;
    overflow: hidden;
    // margin-left: 100%;

    align-items: flex-start;
}

.header-gap {
    @include media("sm-mob") {
        height: $main-header-height;
    }
    @include media("md-mob") {
        height: $main-header-height;
    }
    @include media("x-sm-tab") {
        height: $main-header-height;
    }
    @include media("sm-tab") {
        height: $main-header-height;
    }
    @include media("md-tab") {
        height: $main-header-height;
    }
}
.header {
    width: 100%;
    // overflow: hidden;
    background-color: white;
    &__main {
        @include centerSection;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: calc(5% / 4);
        padding: 1em 0px;
        height: $main-header-height;
        position: relative;
        z-index: 3000;
        -webkit-transition: height 0.5s;
        -moz-transition: height 0.5s;
        transition: height 0.5s;
        @include media("sm-mob") {
            @include fixed-header;
            width: 100%;
            padding: 1em;
        }
        @include media("md-mob") {
            @include fixed-header;
            width: 100%;
            padding: 1em;
        }
        @include media("x-sm-tab") {
            @include fixed-header;
            width: 100%;
            padding: 1em;
        }
        @include media("sm-tab") {
            @include fixed-header;
            width: 100%;
            padding: 1em;
        }
        @include media("md-tab") {
            @include fixed-header;
            width: 100%;
            padding: 1em;
        }

        &__card {
            // flex: 0 0 calc(50% / 4);
            @include media("sm-mob") {
                flex: 0 0 calc(50% / 2);
            }
            @include media("md-mob") {
                flex: 0 0 calc(50% / 2);
            }
            @include media("lg-mob") {
                flex: 0 0 calc(50% / 2);
            }

            @include media("x-sm-tab") {
                flex: 0 0 calc(50% / 2);
            }
            @include media("md-tab") {
                flex: 0 0 calc(40% / 2);
            }
            @include media("lg-tab") {
                flex: 0 0 calc(40% / 2);
            }

            p {
                @include media("md-tab") {
                    font-size: 12px;
                }
                @include media("lg-tab") {
                    font-size: 12px;
                }
            }
            height: 100%;
            @include font-family(400);
            font-size: 14px;
            @include center-child-element;
            justify-content: flex-start;
            color: variables.$starhospitals-text-secondary;
            overflow: hidden;
            &--logo {
                // flex: 0 0 %;
                svg {
                    -webkit-transition: all 0.5s;
                    -moz-transition: all 0.5s;
                    transition: all 0.5s;
                    width: 100% !important;
                    height: 100%;
                }

                &--fixed {

                    img {
                        width: 80% ;
                        height: 100%;
                    }
                }
            }
            &--emergency {
                flex:0 0 calc(60%/4);
                @include media("sm-mob") {
                    flex: 0 0 40%;
                }
                @include media("md-mob") {
                    flex: 0 0 40%;
                }
                @include media("lg-mob") {
                    flex: 0 0 40%;
                }
                @include media("x-sm-tab") {
                    flex: 0 0 35%;
                }
                @include media("sm-tab") {
                    flex: 0 0 25%;
                }
                @include media("md-tab") {
                    flex: 0 0 18%;
                }
                @include media("lg-tab") {
                    flex: 0 0 20%;
                    margin-right: 1.5em;
                }
                div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0.5em 0.5em;
                    gap: 0.5em;
                    background-color: variables.$starhospitals-brand-secondary;
                    border-radius: 10px;
                    // width: max-content;
                    @include media("sm-mob") {
                        font-size: 10px;
                        gap: 0.25em;
                    }
                    @include media("md-mob") {
                        font-size: 10px;
                        gap: 0.25em;
                    }
                    @include media("lg-mob") {
                        font-size: 10px;
                        gap: 0.25em;
                    }
                    img {
                        width: 18px;
                        height: 18px;
                    }

                    p {
                        color: variables.$starhospitals-ui-tertiary;
                        line-height: 22px;
                        @include media("sm-mob") {
                            line-height: 15px;
                        }
                        @include media("md-mob") {
                            line-height: 15px;
                        }
                        @include media("lg-mob") {
                            line-height: 15px;
                        }
                        span {
                            @include font-family(700);
                            font-size: 16px;
                            @include media("sm-mob") {
                            font-size: 11px;
                                
                            }
                            @include media("md-mob") {
                            font-size: 11px;
                                
                            }
                            @include media("lg-mob") {
                            font-size: 11px;
                                
                            }
                        }
                    }
                }
            }
            &--web-search {
                display: block;
                position: relative;
                flex: 0 0 20%;
                div {
                    width: 100%;

                    position: absolute;
                    top: 25%;
                    flex: 1 0 auto;
                    border-radius: 20px;
                }
                svg {
                    width: 50px;
                }
                input {
                    padding: 0.5em 0px;
                }
            }
            &--mob-nav {
                display: flex;
                justify-content: space-around;
                align-items: center;
                // gap: 1em;
                @include media("sm-tab") {
                    gap: 2em;
                    margin-right: 2em;
                }
            }
            &--mob-hide {
                @include media("sm-mob") {
                    display: none;
                }
                @include media("md-mob") {
                    display: none;
                }
                @include media("lg-mob") {
                    display: none;
                }
                @include media("x-sm-tab") {
                    display: none;
                }
                @include media("sm-tab") {
                    display: none;
                }
                @include media("md-tab") {
                    display: none;
                }
            }
            &--desk-hide {
                display: none;
                @include media("sm-mob") {
                    display: flex;
                }
                @include media("md-mob") {
                    display: flex;
                }
                @include media("lg-mob") {
                    display: flex;
                }
                @include media("x-sm-tab") {
                    display: flex;
                }
                @include media("sm-tab") {
                    display: flex;
                }
                @include media("md-tab") {
                    display: flex;
                }
            }
        }

        &--fixed {
            @include fixed-header;
            width: 100%;
            height: 100%;
            padding: 0em 7.5%;
            z-index: 3500;
            height: $fixed-header-height;

            &--logo {
                width: 80% !important;
                height: 100%;
            }

            // &--hide{
            //     display: none;
            // }
        }
    }

    &__nav {
        width: 100%;
        height: 4rem;
        background-color: variables.$starhospitals-brand-primary;
        display: flex;
        // display: none;
        align-items: center;
        transition: 0.3s all ease;

        &--active {
            // left: 100%;
            @include media("sm-mob") {
                left: 0% !important;
            }
            @include media("md-mob") {
                left: 0% !important;
            }
            @include media("lg-mob") {
                left: 0% !important;
            }
            @include media("x-sm-tab") {
                left: 0% !important;
            }
            @include media("sm-tab") {
                left: 0% !important;
            }
            @include media("md-tab") {
                left: 0% !important;
            }
        }

        @include media("sm-mob") {
            height: initial;
            @include fixed-header;
            @include mobile-nav;
            overflow-y: scroll !important;
            &::-webkit-scrollbar {
                display: none;
            }
        }
        @include media("md-mob") {
            height: initial;
            @include fixed-header;
            @include mobile-nav;
            overflow-y: scroll !important;
            &::-webkit-scrollbar {
                display: none;
            }
        }
        @include media("lg-mob") {
            height: initial;
            @include fixed-header;
            @include mobile-nav;
            overflow-y: scroll !important;
            &::-webkit-scrollbar {
                display: none;
            }
        }
        @include media("x-sm-tab") {
            height: initial;
            @include fixed-header;
            @include mobile-nav;
            overflow-y: scroll !important;
            &::-webkit-scrollbar {
                display: none;
            }
        }
        @include media("sm-tab") {
            height: initial;
            @include fixed-header;
            @include mobile-nav;
            overflow-y: scroll !important;
            &::-webkit-scrollbar {
                display: none;
            }
        }
        @include media("md-tab") {
            height: initial;
            @include fixed-header;
            @include mobile-nav;
            overflow-y: scroll !important;
            &::-webkit-scrollbar {
                display: none;
            }
        }

        &__options {
            @include centerSection;
            // margin: 0px;
            padding: 0px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include media("sm-mob") {
                display: block;
                // @include fixed-header;
            }
            @include media("md-mob") {
                display: block;

                // @include fixed-header;
            }

            @include media("lg-mob") {
                display: block;
            }
            @include media("x-sm-tab") {
                display: block;
            }
            @include media("sm-tab") {
                display: block;
            }
            @include media("md-tab") {
                display: block;
            }
        }

        &__option {
            // flex: 0 0 calc(90%/7);
            list-style-type: none;
            // border: 1px solid black;
            @include media("sm-mob") {
                padding: 1em 0px;
            }
            @include media("md-mob") {
                padding: 1em 0px;
            }
            @include media("lg-mob") {
                padding: 1em 0px;
            }
            @include media("x-sm-tab") {
                padding: 1em 0px;
            }
            @include media("sm-tab") {
                padding: 1em 0px;
            }
            @include media("md-tab") {
                padding: 1em 0px;
            }
            // padding: 1em;

            a {
                @include font-family(500);
                // font-size: 15px;
                color: variables.$starhospitals-ui-tertiary;
                padding: 0px 2em 0px 0px;
                @include media("sm-mob") {
                    color: black;
                }
                @include media("md-mob") {
                    color: black;

                    // @include fixed-header;
                }
                @include media("lg-mob") {
                    color: black;
                }
                @include media("x-sm-tab") {
                    color: black;
                }
                @include media("sm-tab") {
                    color: black;
                }
                @include media("md-tab") {
                    color: black;
                }
                @include media("lg-tab") {
                   font-size: 14px;
                }
            }

            &--dropdown {
                position: relative;

                z-index: 3000;
                &__options {
                    @include dropdown-Options-wrapper;
                    animation: growDown 300ms ease-in-out forwards;
                    // animation: growRight 300ms ease-in-out forwards;
                    background-color: white;
                    // border: white;
                    border-radius: 5px;
                    transform-origin: top center;
                    z-index: 3000;
                    padding: 1em 0px;
                    @include media("sm-mob") {
                        top: 100%;
                        position: relative;
                    }
                    @include media("md-mob") {
                        top: 100%;
                        position: relative;
                    }
                    @include media("lg-mob") {
                        top: 100%;
                        position: relative;
                    }
                    @include media("x-sm-tab") {
                        top: 100%;
                        position: relative;
                    }
                    @include media("sm-tab") {
                        top: 100%;
                        position: relative;
                    }
                    @include media("md-tab") {
                        top: 100%;
                        position: relative;
                    }

                    // display: none;
                    // position: absolute;
                    // list-style-type: none;
                    // min-width: 100%;
                    // border-radius: 10px;
                    // background-color: variables.$starhospitals-text-inverted;
                    // overflow: hidden;
                    // top: 0;
                    li {
                        position: relative;
                        a {
                        border-radius: 10px;
                            transition: all 1s;
                            margin-top: 0.25em;
                            @include dropdown-link;
                            @include media("sm-mob") {
                                padding: 1em;
                            }
                            @include media("md-mob") {
                                padding: 1em;
                            }
                            @include media("lg-mob") {
                                padding: 1em;
                            }

                            &:hover {
                                @include option-hover;

                                &::after {
                                    color: variables.$starhospitals-text-inverted;
                                }
                            }

                            // &:hover ul{
                            //     display: block;
                            //     right: 0;
                            // }
                        }
                    }
                }

                &:hover &__options {
                    display: block;
                }

                &::after {
                    @include dropdown-arrow;
                    transform: rotate(90deg);
                    @include media("sm-mob") {
                        transform: rotate(0deg);
                        color: black;
                        top: 25%;
                        right: 5%;
                    }
                    @include media("md-mob") {
                        transform: rotate(0deg);
                        color: black;
                        top: 25%;
                        right: 5%;
                    }
                    @include media("lg-mob") {
                        transform: rotate(0deg);
                        color: black;
                        top: 25%;
                        right: 5%;
                    }
                    @include media("x-sm-tab") {
                        transform: rotate(0deg);
                        color: black;
                        top: 25%;
                        right: 5%;
                    }
                    @include media("sm-tab") {
                        transform: rotate(0deg);
                        color: black;
                        top: 25%;
                        right: 5%;
                    }
                    @include media("md-tab") {
                        transform: rotate(0deg);
                        color: black;
                        top: 25%;
                        right: 5%;
                    }
                }
            }

            &--nested-dropdown {
                position: relative;
                ul {
                    animation: growDown 300ms ease-in-out forwards;
                    // transform-origin: top center;
                    @include dropdown-Options-wrapper;
                    left: 100%;
                    top: 0;
                    z-index: -1;
                    @include media("sm-mob") {
                        position: initial;
                        padding-left: 1em;
                    }
                    @include media("md-mob") {
                        position: initial;
                        padding-left: 1em;
                    }
                    @include media("lg-mob") {
                        position: initial;
                        padding-left: 1em;
                    }
                    @include media("x-sm-tab") {
                        position: initial;
                        padding-left: 1em;
                    }
                    @include media("sm-tab") {
                        position: initial;
                        padding-left: 1em;
                    }
                    @include media("md-tab") {
                        position: initial;
                        padding-left: 1em;
                    }
                }
                &:hover ul {
                    display: block;
                }

                &::after {
                    @include dropdown-arrow;
                    transform: rotate(0deg);
                    color: black;
                    @include media("sm-mob") {
                        right: 5%;
                        top: 6%;
                    }
                    @include media("md-mob") {
                        right: 5%;
                        top: 6%;
                    }
                    @include media("lg-mob") {
                        right: 5%;
                        top: 6%;
                    }
                    @include media("x-sm-tab") {
                        right: 5%;
                        top: 6%;
                    }
                    @include media("sm-tab") {
                        right: 5%;
                        top: 6%;
                    }
                    @include media("md-tab") {
                        right: 5%;
                        top: 6%;
                    }
                }
            }
        }

        &--fixed {
            background-color: transparent;
            flex: 0 0 90%;
            // overflow-x: hidden;
            display: none;
            // padding: 5em 0px;
            z-index: 3500;
            margin-left: -7%;
            @include media('lg-tab')
            {
            flex: 0 0 98%;

                font-size: 12px;
                margin-left: -10%;

            }
            a {
                color: black;

                @include media('lg-tab')
                {
                    font-size: 12px;
                    // margin-left: 2em;
                }
            }
        }
    }
}
