@use "utils/variables" as variables;
@import "utils/utils";

@import "utils/media-queries";
@import "heading";
@import "filter";
@import "doctors";
@import "footer";
@import "header";
@import "banner";
@import "testimonials-secondary";
@import "testimonials";
@import "slick-slider";



.thankyou {
    h1 {
        font-family: "Plus Jakarta Sans";
        font-size: 36px;
        font-weight: 600;
        line-height: 45px;
        letter-spacing: 0em;
        text-align: center;
        margin-bottom: 0.5em;
        // margin-top: 2rem;
    }

    p {
        width:   80%;
        margin:  0px auto;
        font-family: "Plus Jakarta Sans";
        font-size: 24px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: center;
        color: #424242;
        margin-bottom: 1em;
        @include media("sm-mob") {
            text-align: justify !important;
            
        }
        @include media("md-mob") {
            text-align: justify !important;
            
        }
        @include media("lg-mob") {
            text-align: justify !important;
            
            
        }
        @include media("x-sm-tab") {
            text-align: justify !important;
            
            
        }
        

        
    }
    &__description{
        width: 80%;
        margin: 0px auto;
        font-family: 'Plus Jakarta Sans';
        font-size: 20px !important;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: center;
        margin-top: 2rem;
        
    }
    div {
        width: 80%;
        margin: 2rem auto;
        display: flex;
        justify-content: center;
    }
}

.t-c-description{
    width: 85%;
    margin: 0px auto;
    p,span,div,li,ul,ol{
        font-family: 'Plus Jakarta Sans';
        font-size: 14px;
        line-height: 25px;
    }

    ul,ol{
        margin-left: 1.5em;
    }

    ol li{
        font-family: 'Plus Jakarta Sans Bold';
        font-weight: 700;
        font-size: 18px;
    }

    

    strong{
        font-family: 'Plus Jakarta Sans';

    }

    div strong{
        font-size: 25px;
        font-weight: 700;
        padding: 1em 0px;
        font-family: 'Plus Jakarta Sans';

    }
}


.mem-contact-info{
    display: flex;
    gap: 1em;
    @include media("sm-mob") {
        flex-direction: column;
        
    }
    @include media("md-mob") {
        flex-direction: column;
        
    }
    @include media("lg-mob") {
        flex-direction: column;
        
        
    }
    @include media("x-sm-tab") {
        flex-direction: column;
        
        
    }
}

.mem-contact-info-item-1{
    flex: 0 0 calc(100%/4);
    padding: 0px 0.5em;


}

.mem-contact-info-item-2{
    flex: 0 0 calc(100%/4);
    padding: 0px 0.5em;

    
}


.floating-image{
    float: right;
    padding: 1em;
    @include media("sm-mob") {
        width: 90%;
        float: none;
        margin: 0px auto;
        
    }
    @include media("md-mob") {
        width: 90%;
        float: none;
        margin: 0px auto;
        
    }
    @include media("lg-mob") {
        width: 90%;
        float: none;
        margin: 0px auto;
        
        
    }
    @include media("x-sm-tab") {
        width: 90%;
        float: none;
        margin: 0px auto;
        
        
    }
}

table{
    border-spacing:20px;
    @include media("sm-mob") {
        border-spacing: 10px;
         
     }
     @include media("md-mob") {
        border-spacing: 10px;
         
     }
     @include media("lg-mob") {
        border-spacing: 10px;
         
         
     }
     @include media("x-sm-tab") {
        border-spacing: 10px;
         
         
     }
}

table thead th{
    @include media("sm-mob") {
       font-size: 13px;
        
    }
    @include media("md-mob") {
       font-size: 13px;
        
    }
    @include media("lg-mob") {
       font-size: 13px;
        
        
    }
    @include media("x-sm-tab") {
       font-size: 13px;
        
        
    }
}

.mem-course-name{
    margin-top: 1em;
    font-size: 18px;
    line-height: 22px;
    @include media("sm-mob") {
        margin-top: -3px;
         
     }
     @include media("md-mob") {
        margin-top: -3px;
         
     }
     @include media("lg-mob") {
        margin-top: -3px;
         
         
     }
     @include media("x-sm-tab") {
        margin-top: -3px;
         
         
     }

}
.mem-affiliation{
    font-family: Plus Jakarta Sans;
font-size: 14px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0em;
text-align: left;
color: #ffffff;
margin-top: 1em;
line-height: 18px;

@include media("sm-mob") {
    font-size: 13px;
     
 }
 @include media("md-mob") {
    font-size: 13px;
     
 }
 @include media("lg-mob") {
    font-size: 13px;
     
     
 }
 @include media("x-sm-tab") {
    font-size: 13px;
     
     
 }
}


.mem-location{
    font-family: Plus Jakarta Sans;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 18px;
                        letter-spacing: 0em;
                        text-align: left;
                        color:#FFFFFF;
                        margin-top: 0.5em;


                        @include media("sm-mob") {
                            font-size: 13px;
                             
                         }
                         @include media("md-mob") {
                            font-size: 13px;
                             
                         }
                         @include media("lg-mob") {
                            font-size: 13px;
                             
                             
                         }
                         @include media("x-sm-tab") {
                            font-size: 13px;
                             
                             
                         }
}